body {
    background-color: #000000;
}
.container {
    position:relative;
    display: flex;
}
.box {
    width: 75%;
    background-color: #171717;
    color:rgb(255, 215, 252);
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    padding: 5px;
}
.box:nth-child(even) {
    height:fit-content;
    width: 25%;
    display: grid;
    padding-top:10px;
    padding-bottom:10px;
    a {
        color:rgb(255, 215, 252);
        text-decoration: none;
    }
    h1 {
    text-align: right;
    padding: 5px;
    background-color: #441f39;
    width: 200px;
    margin: auto;
    margin-right:0%;
    transition: 0.1s ease-in-out;
    }
    h1:hover {
        width:225px;
        text-align: left;
        background-color: #5b244b;
        cursor: pointer;
    }
}
.icon {
    width: 60px;
    height: 60px;
    border: 2.5px solid rgb(0, 0, 0);
    position: absolute;
    top: 10;
    z-index: 1;
    margin:auto;
    transition: 0.5s ease-in-out;
}

.icon:hover {
    border: 2.5px solid orchid;
    border-radius: 10%;
}


